/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply p-4 text-2xl rounded-lg w-full border-2 border-transparent;
}
.button:focus {
  @apply outline-none shadow-outline;
}

.primary {
  @apply bg-green-500 text-white border-green-500 .button;
}
.primary:hover {
  @apply bg-green-600 border-green-600;
}
.primary:active {
  @apply: bg-green-700 border-green-700;
}

.ghost {
  @apply bg-white text-gray-700 border-gray-700;
}
.ghost:hover {
  @apply text-gray-800 border-gray-800;
}
.ghost:active {
  @apply: text-gray-900 border-gray-900;
}

.input {
  @apply mr-auto p-1 bg-gray-200 rounded;
}

select:invalid {
  color: gray;
}

.header-text {
  @apply text-lg text-gray-600 font-bold text-center px-8 mb-8;
}

.input-box {
  @apply my-1 p-1 w-full border-b-2;
}

.eula-header {
  @apply text-3xl py-4 text-center w-full;
}

.eula-li-styles {
  @apply pl-4 py-4;
}

.error {
  @apply border-b-2 border-red-400;
}
.error::placeholder {
  @apply text-red-300;
}

@screen md {
  .header-text {
    @apply text-3xl;
  }
}
/* purgecss end ignore */

@import url('https://p.typekit.net/p.css?s=1&k=nqt7qup&ht=tk&f=9727.9729.9732.9733.11775.11776.11777.11778.11779.11780&a=19786632&app=typekit&e=css');

@font-face {
  font-family: 'co-headline';
  src: url('https://use.typekit.net/af/7c5440/00000000000000003b9b3178/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/7c5440/00000000000000003b9b3178/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/7c5440/00000000000000003b9b3178/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'co-headline';
  src: url('https://use.typekit.net/af/1258f5/00000000000000003b9b3179/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/1258f5/00000000000000003b9b3179/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/1258f5/00000000000000003b9b3179/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'co-text';
  src: url('https://use.typekit.net/af/d9388b/00000000000000003b9b317b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/d9388b/00000000000000003b9b317b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/d9388b/00000000000000003b9b317b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'co-text';
  src: url('https://use.typekit.net/af/20750f/00000000000000003b9b317c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/20750f/00000000000000003b9b317c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/20750f/00000000000000003b9b317c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'bernhard-gothic-urw';
  src: url('https://use.typekit.net/af/869064/00000000000000000001797d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/869064/00000000000000000001797d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/869064/00000000000000000001797d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'bernhard-gothic-urw';
  src: url('https://use.typekit.net/af/801aea/00000000000000000001797b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/801aea/00000000000000000001797b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/801aea/00000000000000000001797b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

html {
  font-family: co-text, sans-serif;
}

.bg-black-75 {
  background: rgba(0, 0, 0, 0.75);
}

.font-gothic {
  font-family: 'bernhard-gothic-urw', sans-serif;
}

.font-co-headline {
  font-family: 'co-headline', sans-serif;
}

.react-daterange-picker .react-daterange-picker__wrapper {
  border: none;
}
